name: Build

on:
  push:
    branches:
      - master
      - release/*/*
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
      # We build all ahead of time before linting as we need the build
      # step for TS type definitions to be usable. These are used during both
      # linting and testing.
      # Even more, we need to build the two specific ones first as their type
      # definitions are required for the other project builds.
      # TODO(byk): Streamline this a bit and run the rest of the build in parallel
      - name: Build prerequisites first
        run: |
          yarn workspace @formsort/constants run build
          yarn workspace @formsort/embed-messaging-manager run build
          yarn workspace @formsort/web-embed-api run build
      - name: Build
        run: yarn build
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - name: Pack
        run: |
          # WARN: This grep pattern relies on the `releaseBranchPrefix` field in .craft.yml files
          release_package=$(echo '${{ github.ref_name }}' | grep -Po '(?<=release/)[^/]+(?=/[0-9a-z_.]+)' || [[ $? == 1 ]])
          if [[ -n "$release_package" ]]; then
            yarn workspace "@formsort/$release_package" run pack;
          else
            yarn workspaces run pack;
          fi
      - name: Archive Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ${{ github.workspace }}/packages/**/*.tgz
            !node_modules/**/*
