name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: volta-cli/action@v1
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            **/node_modules
            **/.jest-cache
          key: ${{ runner.os }}-yarn-v5-${{ hashFiles('**/package.json', '**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-v5-
      - name: Install Dependencies
        shell: bash
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --production false
      # Instead of a build matrix we use a for loop in a bash script
      # because these libraries need to be built for ts type definitions
      # to be usable and the depend on each other.
      # TODO(byk): Make these work independently of build order
      - name: Build & Test in order
        run: |
          packages=(web-embed-api react-embed constants)
          for package in "${packages[@]}"; do
            cd "${{ github.workspace }}/packages/$package"
            yarn build
            yarn test
          done;
